/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  background: rgba(10, 65, 88, 0.7);
  height: 100%;
  .hp-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: $gray-lighter;
    height: 90%;
    h1 {
      letter-spacing: 3.3px;
    }
  }
  .hp-chevron {
    color: black;
    text-align: center;
    i {
      color: $gray-lighter;
      font-size: 40px;
    }
  }
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.hp-banner {
  height: 85vh;
  .vticker-list {
    ul {
      text-align: right;
    }
    .vticker-side {
      margin-left: 240px;
    }
  }
}


/*************** FEATURES **************/

.features-container {
  background-color: white;
  color: $gray;
  text-align: center;
  box-shadow: 1px 1px 2px black;
  p {
    text-align: justify;
  }
  i {
    font-size: 55px;
    color: #F06E52;
  }
  .feature-item-picto {
    padding-bottom: 20px;
  }
}
.feature-item {
  padding: 20px 0px;
  &:hover i {
    transform: scale(1.05);
  }
}
.features-title {
  em {
    padding-bottom: 30px;
    border-bottom: 4px dashed $yellow;
  }
  h1 {
    letter-spacing: 2px;
  }
}
.features-items {
  padding-top: 70px;
}


/*********** MODERATION ***************/

.moderation-features {
  background-color: #F9FAFA;
  text-align: center;
  box-shadow: 1px 1px 2px black;
  color: $gray;
  .moderation-wrapper {
    display: flex;
    align-items: center;
  }
  .moderation-items {
    padding-top: 70px;
    .dropdown-menu {
      right: 0px;
    }
  }
  .moderation-card {
    cursor: pointer;
    min-height: 150px;
    text-align: left;
    border: 1px solid #F7F7F7;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #D8D6D6;
    background-color: white;
    margin: 10px 0px;
    display: flex;
    flex-flow: column;
    &:hover {
      transform: scale(1.0);
    }
    .moderation-content {
      padding-left: 15px;
    }
  }
  .moderation-picto {
    padding: 0px 20px;
  }
  i {
    font-size: 55px;
    color: $orange;
  }
  .view-more {
    color: $blue-darker;
    font-weight: bolder;
    padding-left: 10px;
  }
}

/*********** DEVELOPER ***************/
.dev-features {
  .dev-card {
    min-height: 150px;
    text-align: left;
    border: 1px solid #D2D0D0;
    background-color: $gray-lighter;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(10, 48, 65, 0.64);
    display: flex;
    text-align: left;
    align-items: center;
    flex-flow: row;
    justify-content: flex-start;
    margin: 10px 0px;
    & * {
      padding: 0px 10px 0px 0px;
    }
    &:hover {
      transform: scale(1.01);
    }
    .homepage-hero-module > .video-container > .filter {
      background: rgba(10, 65, 88, 0.4) !important; // NOT WORKING
    }
    .features-title {
      color: $gray-lighter;
    }
    .dev-title {
      padding-bottom: 10px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      font-size: 16px;
    }
    .dev-picto {
      width: 80px;
    }
    .dev-text {
      color: $gray;
    }
    .dev-content {
      display: flex;
      flex-direction: column;
      h4 {
        border-bottom: 1px dashed $blue;
      }
    }
    i {
      font-size: 50px;
      color: $orange;
    }
  }
  .dev-items {
    padding-top: 50px;
  }
    h1 {
      color: white;
      font-weight: 500;
      letter-spacing: 3.2px;
    }
}
.mission-text {
  padding: 50px 20px 0px 0px;
}


h4 {
  font-weight: 400;
}

.mission-feature {
  color: $gray;
}

.product-showcase {
  padding: 50px 0px;
  background-color: #FDFDFD;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.product-iframe {
  width: 100%;
  display: flex;
  justify-content: center;
      margin-top: 70px;
}


/**************** MEDIA QUERY ********************/


@media screen and (max-width: 450px) {
  .moderation-card {
    flex-direction: column;
    .moderation-content {
      padding-left: 0px !important;
    }
    p {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
  .hp-banner {
    h1 {
      font-size: 16px;
    }
    .vticker-list .vticker-side {
      margin-left: 121px !important;
    }
  }
}


.iframe {
    position: absolute;
    top: 0px;
    right: 0;
    box-shadow: -4px -4px 10px 0px #072D3D;
    border-left: 1px solid #072D3D;
    z-index: 1000;
}

.close-module {
    position: absolute;
    display: flex;
    flex-flow: row;
    color: #898998;
    font-size: 12px;
    font-weight: 800;
    top: 37px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 4px 0px;
    left: -19px;
    border-radius: 3px 0px 0px 3px;
    &:hover {
      color: #61616D;
    }
    * {
      padding: 0px 5px;
      align-self: center;
    }
}


// ******************** Settings Table ************************
.settings-table {
  background-color: white;
  display: none;
  flex-flow: column;
  justify-content: center;
  margin: 30px 0px;
  cursor: auto;
  .setting-category {
    background-color: $blue;
    color: $gray-lighter;
    text-align: left;
    padding: 10px 10px;
    font-size: 1em;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .settings-item {
    padding: 10px 10px;
    border-bottom: 1px solid $gray-lighter;
    text-align: left;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
  }
  .settings-title {
        min-width: 450px;
        align-self: center;
  }
  .btn {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bolder;
    position: relative;
  }
  .dropdown-menu {
    text-transform: uppercase;
    font-size: 0.85em;
  }
  .caret {
    position: absolute;
    right: 6px;
    top: 12px;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

.chart-box {
  display: none;
  flex-flow: column;
  .chart-item {
    padding: 20px;
    border: 1px solid $gray-lighter;
    display: flex;
    flex-flow: column;
    margin: 10px 0px;
    .title {
      color: $gray;
      font-weight: bolder;
      font-style: italic;

    }
  }
}


.cta-product {
  margin-top: 26px;
  margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 10px 30px;
}
// <!-- BAR number of comments vs. social interactions vs. shares -->


// <!-- number of visitors comments // with comments -->

// type of traffic for people commenting
// <!-- average number of replies per comment -->
// <!-- among all comments, share of users comments which comment was first, > 2, ... -->
// <!-- % visitors viewing at least 1 comment: -->
// <!-- % visitors posting comments -->
// <!-- % comments with answers: -->
// <!-- % comments with answers: -->

// <!-- comment length // number of videos shared / number of photos -->






.demo-product {
  margin-top: 100px;
  .item {
    display: flex;
    margin-bottom: 20px;
  }
  .picture {
    box-shadow: 0px 0px 8px #CECCCC;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
  }
  .description {
    align-self: center;
    padding-left: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    .text-wrapper {
      text-align: left;
    }
    .title {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
    .text {
      color: $gray;

    }
  }
  i {
    color: $blue;
    font-size: 50px;
    margin-right: 20px;
  }
}
