<div class="chart-box" id="show-<%= feature %>">
  <div class="chart-item">
    <div class="title">
      <span style="color:rgba(220,220,220,1);">Number of Comments</span> vs.
      <span style="color:rgba(151,187,205,1);">Social Interactions</span> vs.
      <span style="color:rgba(205,151,160,1);">Shares</span>
    </div>
    <canvas id="line1" width="400" height="200"></canvas>
  </div>

  <div class="chart-item">
    <div class="title">
      Quality of Comments Posted
      <span style="color:rgba(220,220,220,1);">Comment Length (# chars)</span> vs.
      <span style="color:rgba(151,187,205,1);">Number rich content shared</span> vs.
      <span style="color:rgba(205,151,160,1);">Number of links shared</span>
    </div>
    <canvas id="bar1" width="400" height="200"></canvas>
  </div>

  <div class="chart-item">
    <div class="title">
      Share of traffic of people posting comments:
      <span style="color:#F7464A;">Desktop</span> vs.
      <span style="color:#FDB45C;">Mobile App</span> vs.
      <span style="color:#46BFBD;">Mobile Site</span>
    </div>
    <canvas id="doughnut1" width="400" height="200"></canvas>
  </div>
</div>
