<div class="hp-banner">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter">
        <div class="hp-title">
          <div class="vticker-list">
            <ul>
                <li>Engage</li>
                <li>Strengthen</li>
                <li>Retain</li>
                <li>Grow</li>
                <li>Manage</li>
                <li>Monetize</li>
                <li>Analyze</li>
                <li>Own</li>
            </ul>
            <span class="vticker-side">your online community</span>
          </div>
        </div>
        <div class="hp-chevron pulse">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
        <video autoplay loop class="fillWidth">
          <source src="/assets/bkgd_videos/typing.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="/assets/bkgd_videos/typing.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <div class="poster hidden">
        <img src="assets/bkgd_videos/typing.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="features-container pad-h-100">
  <h1 class="features-title pad-b-50">
    Grow your business with a smart comment strategy
  </h1>
  <div class="features-items">
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="feature-item">
            <div class="feature-item-picto">
              <i class="fa fa-line-chart"></i>
            </div>
            <h3 class="feature-item-title">
              Grow Your Community
            </h3>
            <p class="feature-item-description pad-20">
              Shared content through social media plays an ever increasing role in bringing more traffic to your website. Make you best users' comments more shareable by your whole community. By increasing the quality of comments, sorting them such as most relevant comments pop up will ultimately grow your presency & increase your number of visitors.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="feature-item">
            <div class="feature-item-picto">
              <i class="fa fa-users"></i>
            </div>
            <h3 class="feature-item-title">
              Increase Returning Customers
            </h3>
            <p class="feature-item-description pad-20">
              The web is now social. User retention increases as their interactions with your content grows. Provide to your customer the best social experience & let them enrich your content. With a smart powerful comment strategy, the number of account creation & logins increases. Growing this database is key in the path to monetization.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="feature-item">
            <div class="feature-item-picto">
                <i class="fa fa-eur"></i>
            </div>
            <h3 class="feature-item-title">
              Unlock Premium Advertising*
            </h3>
            <p class="feature-item-description pad-20">
              Leverage your user engagement to generate revenues & monetize your audience by unlocking sponsored comments advertisements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="moderation-features pad-h-100">
  <h1 class="moderation-title pad-b-50">
    Better manage comments with actionnable analytics & data
  </h1>
  <div class="container">
    <div class="row">
      <% @moderation.each do |feature| %>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="moderation-card">
          <div class="moderation-picto">
            <i class="fa <%= feature[:fa] %>"></i>
          </div>
          <div class="moderation-content">
            <h3 class="moderation-card-title">
              <%= feature[:title] %>
            </h3>
            <p class="moderation-card-text">
              <%= feature[:text] %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="dev-features pad-h-100">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
            <div class="dev-card"></div>

            </div>
          </div>
        </div>
      </div>
        <video autoplay loop class="fillWidth">
          <source src="/assets/bkgd_videos/dev.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="/assets/bkgd_videos/dev.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <div class="poster hidden">
        <img src="assets/bkgd_videos/dev.jpg" alt="">
      </div>
    </div>
  </div>



</div>

<% content_for(:after_js) do %>
<script>
$( document ).ready(function() {
console.log("document ready");
/******************************** vTicker ****************************/
$('.vticker-list').vTicker({
  speed: 1000,
  pause: 2000,
  showItems: 1,
  animation: 'fade',
  mousePause: false,
  height: 0,
  direction: 'up'
});

/********************** HOMEPAGE VIDEO BACKGROUND ********************/
    scaleVideoContainer();

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() - 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height','90vh');

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() - 5,
    videoWidth,
    videoHeight;

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

    });
}
</script>
<% end %>
